<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreAnimation_day4 圆角.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>477AC3B91D38B93300F8244B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>477AC3D21D38B93300F8244B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>477AC3DD1D38B93400F8244B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
